{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "prettier", "chai-friendly"],
  "extends": [
    "airbnb-typescript/base",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-unused-expressions": 0,
    "no-underscore-dangle": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
