{
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "semi": true,
        "tabWidth": 4,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}
